---
title: Welcome to the Teaching and Learning FAQ

---
* This is an informally collected, highly searchable, collection of FAQs
* It covers Teaching and Learning questions, especially at Brandeis University


<div class="d-flex justify-content-center align-items-center container ">
    <div class="row">
<form role="form">
    <input type="search" class="form-control-lg" 
        placeholder="search..." id="tipue_search_input"
        autocomplete="off" required />
</form>
</div>
</div>



